html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.content {
	height: 100%;
}

.content-logo {
	height: 70px;
	background-color: black;
}

.content-menu {
	height: 75px;
	margin: 0;
	background-color: rgb(25, 28, 32);
}

.content-center {
	min-height: 100%;
	margin-bottom: -70px;
	color: white;
	background-color: rgb(46, 47, 50);
}

.content-bottom {
	position: relative;
	margin-top: 70px;
	padding-bottom: 20px;
	background-color: rgb(46, 47, 50);
	text-align: left;
	font-size: 1.1vh;
}

.nav-menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 10px 0;
}

.nav-menu li a {
	text-decoration: none;
	color: rgb(150, 163, 163);
	font-size: 1.5vh;
}

.my.pagination > .active > a, 
.my.pagination > .active > a:hover, 
.my.pagination > .active > a:focus {
  background: white;
  border-color: black;
}